@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none; /* We will build a custom creative cursor */
  overflow-x: hidden;
}

::selection {
  background-color: white;
  color: black;
}
